<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<section>
		<div class=" p-5">
			<p class="text-center fs-3 mt-4">Админ панель</p>
			<div class="row p-5">
				<div class="col-md-4 mt-2">
					<a href="/admin/loadAddProduct" class="text-decoration-none">
						<div class="card border ">
							<div class="card-body text-center text-success d-flex justify-content-center align-items-center">
								<i class="fa-solid fa-square-plus fa-3x me-4"></i>
								<h4 class='mt-2'>Добавить товар</h4>
							</div>
						</div>
					</a>
				</div>


				<div class="col-md-4 mt-2">
					<a href="/admin/category" class="text-decoration-none">
					<div class="card border ">
							<div class="card-body text-center text-success d-flex justify-content-center align-items-center">
								<i class="fa-solid fa-list fa-3x me-4"></i>
								<h4 class='mt-2'>Добавить категорию</h4>
							</div>
						</div>
					</a>
				</div>


				<div class="col-md-4 mt-2">
					<a href="/admin/products" class="text-decoration-none">
					<div class="card border ">
							<div class="card-body text-center text-success d-flex justify-content-center align-items-center">
								<i class="fa-solid fa-table-list fa-3x me-4"></i>
								<h4 class='mt-2'>Товары</h4>
							</div>
						</div>
					</a>
				</div>


				<div class="col-md-4 mt-4">
					<a href="/admin/orders" class="text-decoration-none">
						<div class="card border ">
							<div class="card-body text-success d-flex justify-content-center align-items-center">
								<i class="fa-solid fa-box-open fa-3x me-4"></i>
								<h4 class='mt-2'>Заказы</h4>
							</div>
						</div>
					</a>
				</div>


				<div class="col-md-4 mt-4">
					<a href="/admin/users?type=1" class="text-decoration-none">
					<div class="card border ">
							<div class="card-body text-success d-flex justify-content-center align-items-center">
								<i class="fa-solid fa-circle-user fa-3x me-4"></i>
								<h4 class='mt-2'>Пользователи</h4>
							</div>
						</div>
					</a>
				</div>


				<div class="col-md-4 mt-4">
					<a href="/admin/add-admin" class="text-decoration-none">
					<div class="card border ">
							<div class="card-body text-success d-flex justify-content-center align-items-center">
								<i class="fa-solid fa-user-plus fa-3x me-4"></i>
								<h4 class='mt-2'>Добавить админа</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-12 mt-4">
					<a href="/admin/users?type=2" class="text-decoration-none">
					<div class="card border ">
							<div class="card-body text-success d-flex justify-content-center align-items-center">
								<i class="fa-solid fa-circle-user fa-3x me-4"></i>
								<h4 class='mt-2'>Админы</h4>
							</div>
						</div>
					</a>
				</div>


			</div>
		</div>
	</section>
</body>
</html>